@import "tailwindcss";
html, body, #root {
  overflow-x: hidden !important;
  width: 100%;
  max-width: 100vw;
  min-height: 100%;
  background-color: #020711;
  color: #ffffff;
}
body {
  background-color: #020711;
}